body {
    margin: 10;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

h1 {

    text-align: center;
    }

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: pink;
    text-decoration: none;
    padding: 5px;
}

nav ul li a:hover {
    background-color: greenyellow;
    color: #333;
}

.container {
    padding: 20px;
    text-align: center;
}

.grid-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#svg-canvas {
    width: 100%;
    height: auto;
    max-width: 400px;
}

@media (min-width: 810px) {
    /* Styles for 3:4 aspect ratio (e.g., iPad tablet) */
    .container {
        padding: 40px;
    }

    #svg-canvas {
        max-width: 600px;
    }
}

@media (min-width: 2560px) {
    /* Styles for 16:9 aspect ratio (e.g., 1440p monitor) */
    .container {
        padding: 80px;
    }

    #svg-canvas {
        max-width: 800px;
    }
}
